In [2]:
import pandas as pd

In [3]:
f=pd.read_csv(r"C:\Users\ASHISH\Downloads\untitled (1).txt",on_bad_lines='skip',header=None)

In [59]:
f.shape

(7794, 1)

In [4]:
f=f.drop(index=[0,1,2])

In [5]:
f=f[0].reset_index().drop(columns="index")

In [9]:
fd=f.head(21)

In [22]:
fd=fd[0].str.split("  ",n=1,expand=True)

In [25]:
fd=fd.drop(columns=1)

In [51]:
fd=fd[0]

In [52]:
fd

0            Row ID
1          Order ID
2        Order Date
3         Ship Date
4         Ship Mode
5       Customer ID
6     Customer Name
7           Segment
8           Country
9              City
10            State
11      Postal Code
12           Region
13       Product ID
14         Category
15     Sub-Category
16     Product Name
17            Sales
18         Quantity
19         Discount
20           Profit
Name: 0, dtype: object

In [33]:
fb=f.iloc[21:,0:]

In [36]:
fb=fb[0].str.split("\t",expand=True)

In [42]:
fb=fb.reset_index().drop(columns=['index',0])

In [44]:
fb=fb.reset_index()

In [46]:
a=[]
for i in range(21):
    a.append(i)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [47]:
fb.columns=a

In [48]:
fb

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0,41.9136
1,1,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0,6.8714
2,2,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.031
3,3,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164
4,4,CA-2014-115812,09-06-2014,14-06-2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.28,4,0,1.9656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7768,7768,CA-2017-163629,17-11-2017,21-11-2017,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.99,1,0,28.7964
7769,7769,CA-2017-163629,17-11-2017,21-11-2017,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.1,5,0,55.647
7770,7770,CA-2014-110422,21-01-2014,23-01-2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
7771,7771,CA-2017-121258,26-02-2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.96,2,0,15.6332
7772,7772,CA-2017-121258,26-02-2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932

In [53]:
fb.columns=fd

In [55]:
fb.isnull()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7768,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7769,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7770,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7771,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7772,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [61]:
fb.shape

(7773, 21)

In [57]:
fb.to_excel(r"C:\Users\ASHISH\OneDrive\Desktop\Nikhil\project\Cleand_file.xlsx",index=None)